$borderred: 1px solid red;

.container-wallet-receivedeposit {
  height: 100%;
  width: calc(100% - 2px);
  border: $borderred;
  display: flex;
  flex-direction: column;
  .main {
    border: $borderred;
    width: 100%;
    height: 100%;
    display: flex;
    .receivedeposit{
      width: 75%;

    }

  }
    
}