body {
    font-family: Roboto, sans-serif;
    margin: 0;
    height: 100%;
}

div {
    box-sizing: border-box;
}

.container {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: unset;
    font-size: 12px;
}

//board
@import "board/home";
@import "board/home2";
@import "board/dashboard";
@import "board/walletmain";
@import "board/wallet-market";
@import "board/wallet-receivedeposit";
@import "board/wallet-sendwithdraw";
@import "board/wallet-buyonline";
@import "board/wallet-buycard";
@import "board/accountmain";
@import "board/history";
@import "board/logout";
//component
@import "component/header";
@import "component/verticalnav";