body {
    font-family: Roboto, sans-serif;
    margin: 0;
    height: 100%;
}

div {
    box-sizing: border-box;
}

.container {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: unset;
    font-size: 12px;
}

@import "board/home";
@import "board/signup";