body {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100%;
}

div {
  box-sizing: border-box;
}

.container {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: unset;
  font-size: 12px;
}

.container-home {
  background-image: url("/image/export/bgImage.png");
  height: 100%;
  width: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.container-home .navbar {
  border: 1px solid red;
  width: 100%;
  height: 15%;
  display: flex;
  padding: 0 75px;
  border-bottom: 1px solid #FFFFFF;
}

.container-home .navbar .navbar-left {
  display: flex;
  border: 1px solid red;
  width: 60%;
}

.container-home .navbar .navbar-left .logo-box {
  border: 1px solid red;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home .navbar .navbar-left .logo-box .logo-icon {
  width: 24em;
}

.container-home .navbar .navbar-right {
  border: 1px solid red;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.container-home .navbar .navbar-right .symbol-box {
  display: flex;
  height: 100%;
}

.container-home .navbar .navbar-right .symbol-box .language-box {
  border: 1px solid red;
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home .navbar .navbar-right .symbol-box .language-box .language-icon {
  width: 3.5em;
}

.container-home .navbar .navbar-right .symbol-box .twitter-box {
  border: 1px solid red;
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home .navbar .navbar-right .symbol-box .twitter-box .twitter-icon {
  width: 2.4em;
}

.container-home .navbar .navbar-right .symbol-box .fb-box {
  border: 1px solid red;
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home .navbar .navbar-right .symbol-box .fb-box .fb-icon {
  width: 1.2em;
}

.container-home .navbar .navbar-right .symbol-box .telegram-box {
  border: 1px solid red;
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home .navbar .navbar-right .symbol-box .telegram-box .telegram-icon {
  width: 2.4em;
}

.container-home .content-half {
  border: 1px solid red;
  height: 100%;
  width: 50%;
}

