body {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100%;
}

div {
  box-sizing: border-box;
}

.container {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: unset;
  font-size: 12px;
}

.container-home {
  background-image: url("/image/export/backgroundhome.png");
  height: 100%;
  width: calc(100% - 2px);
  border: 0px solid red;
  display: flex;
  flex-direction: column;
}

.container-home .navbar {
  border: 0px solid red;
  width: 100%;
  height: 15%;
  display: flex;
  padding: 0 75px;
  border-bottom: 1px solid #ffffff;
}

.container-home .navbar .navbar-left {
  display: flex;
  border: 0px solid red;
  width: 60%;
}

.container-home .navbar .navbar-left .logo-box {
  border: 0px solid red;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container-home .navbar .navbar-left .logo-box .logo-icon {
  width: 32em;
}

.container-home .navbar .navbar-right {
  display: flex;
  border: 0px solid red;
  width: 40%;
}

.container-home .navbar .navbar-right .language-box {
  border: 0px solid red;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home .navbar .navbar-right .language-box .language-icon {
  width: 12em;
}

.container-home .navbar .navbar-right .language-box .language-text {
  font-size: 20px;
  color: #f9fbfb;
  font-weight: bold;
}

.container-home .navbar .navbar-right .twitter-box {
  border: 0px solid red;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home .navbar .navbar-right .twitter-box .twitter-icon {
  width: 12em;
}

.container-home .navbar .navbar-right .facebook-box {
  border: 0px solid red;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home .navbar .navbar-right .facebook-box .facebook-icon {
  width: 12em;
}

.container-home .navbar .navbar-right .telegram-box {
  border: 0px solid red;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home .navbar .navbar-right .telegram-box .telegram-icon {
  width: 12em;
}

.container-home .navbar .navbar-right .login-box {
  border: 0px solid red;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-home .navbar .navbar-right .login-box .login-text {
  font-size: 20px;
  color: #f9fbfb;
  font-weight: bold;
}

.container-home .navbar .navbar-right .register-box {
  border: 0px solid red;
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.container-home .navbar .navbar-right .register-box .register-text {
  font-size: 20px;
  color: #f9fbfb;
  font-weight: bold;
}

.container-home .content {
  display: flex;
  border: 0px solid red;
  height: 100%;
  width: 100%;
  padding: 0 75px;
}

.container-home .content .halfleft-box {
  border: 0px solid red;
  width: 50%;
}

.container-home .content .halfleft-box .info-box {
  border: 0px solid red;
  margin: 80px;
  align-items: center;
  justify-content: center;
}

.container-home .content .halfleft-box .info-box .info-icon {
  width: 6em;
}

.container-home .content .halfleft-box .download-box {
  border: 0px solid red;
  margin-left: 81px;
  align-items: center;
  justify-content: center;
}

.container-home .content .halfleft-box .download-box .download-icon {
  width: 18em;
}

.container-home .content .halfright-box {
  border: 0px solid red;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  margin-left: 200px;
  margin-top: 80px;
}

.container-home .content .halfright-box .phone-icon {
  width: 25em;
}

.container-home2 {
  background-image: url("/image/export/backgroundhome.png");
  height: 100%;
  width: calc(100% - 2px);
  border: 0px solid red;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container-home2 .navbar {
  border: 0px solid red;
  width: 100%;
  height: 15%;
  display: flex;
  padding: 0 75px;
  border-bottom: 1px solid #ffffff;
}

.container-home2 .navbar .navbar-left {
  display: flex;
  border: 0px solid red;
  width: 60%;
}

.container-home2 .navbar .navbar-left .logo-box {
  border: 0px solid red;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container-home2 .navbar .navbar-left .logo-box .logo-icon {
  width: 32em;
}

.container-home2 .navbar .navbar-right {
  display: flex;
  border: 0px solid red;
  width: 40%;
}

.container-home2 .navbar .navbar-right .language-box {
  border: 0px solid red;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home2 .navbar .navbar-right .language-box .language-icon {
  width: 12em;
}

.container-home2 .navbar .navbar-right .language-box .language-text {
  font-size: 20px;
  color: #f9fbfb;
  font-weight: bold;
}

.container-home2 .navbar .navbar-right .twitter-box {
  border: 0px solid red;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home2 .navbar .navbar-right .twitter-box .twitter-icon {
  width: 12em;
}

.container-home2 .navbar .navbar-right .facebook-box {
  border: 0px solid red;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home2 .navbar .navbar-right .facebook-box .facebook-icon {
  width: 12em;
}

.container-home2 .navbar .navbar-right .telegram-box {
  border: 0px solid red;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home2 .navbar .navbar-right .telegram-box .telegram-icon {
  width: 12em;
}

.container-home2 .navbar .navbar-right .login-box {
  border: 0px solid red;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-home2 .navbar .navbar-right .login-box .login-text {
  font-size: 20px;
  color: #f9fbfb;
  font-weight: bold;
}

.container-home2 .navbar .navbar-right .register-box {
  border: 0px solid red;
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.container-home2 .navbar .navbar-right .register-box .register-text {
  font-size: 20px;
  color: #f9fbfb;
  font-weight: bold;
}

.container-home2 .content {
  display: flex;
  border: 0px solid red;
  height: 100%;
  width: 100%;
  padding: 0 75px;
}

.container-home2 .content .halfleft-box {
  border: 0px solid red;
  width: 50%;
}

.container-home2 .content .halfleft-box .info-box {
  border: 0px solid red;
  margin: 80px;
  align-items: center;
  justify-content: center;
}

.container-home2 .content .halfleft-box .info-box .info-icon {
  width: 6em;
}

.container-home2 .content .halfleft-box .download-box {
  border: 0px solid red;
  margin-left: 81px;
  align-items: center;
  justify-content: center;
}

.container-home2 .content .halfleft-box .download-box .download-icon {
  width: 18em;
}

.container-home2 .content .halfright-box {
  border: 0px solid red;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  margin-left: 200px;
  margin-top: 80px;
}

.container-home2 .content .halfright-box .phone-icon {
  width: 25em;
}

.container-home2 .popup {
  border: 0px solid red;
  height: 50%;
  width: 40%;
  justify-content: center;
  background-color: #180f2a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 60px;
}

.container-home2 .popup .logo-box {
  border: 0px solid red;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-home2 .popup .logo-box .logo-pic {
  border: 0px solid red;
  justify-content: center;
  margin-top: 25px;
}

.container-home2 .popup .logo-box .logo-pic .logo-icon {
  width: 23em;
}

.container-home2 .popup .username-box {
  border: 0px solid red;
  height: 10%;
  width: 100%;
  display: flex;
}

.container-home2 .popup .username-box .username-form {
  width: 85%;
  height: 85%;
  background-color: #ffffff;
  margin-left: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.container-home2 .popup .username-box .username-form .username-text {
  font-size: 20px;
  color: #7d7d7d;
}

.container-home2 .popup .password-box {
  border: 0px solid red;
  height: 10%;
  width: 100%;
  display: flex;
}

.container-home2 .popup .password-box .password-form {
  width: 85%;
  height: 85%;
  background-color: #ffffff;
  margin-left: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.container-home2 .popup .password-box .password-form .password-text {
  font-size: 20px;
  color: #7d7d7d;
}

.container-home2 .popup .signup-box {
  border: 0px solid red;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-home2 .popup .signup-box .signup-btn {
  width: 40%;
  height: 40%;
  margin-top: 30px;
  justify-content: center;
  background-color: #22abb1;
}

.container-home2 .popup .signup-box .signup-btn .signup-text {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-dashboard {
  height: 100%;
  width: calc(100% - 2px);
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.container-walletmain {
  height: 100%;
  width: calc(100% - 2px);
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.container-walletmain .main {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
}

.container-walletmain .main .wallet {
  width: 75%;
}

.container-walletmain .main .wallet .balance {
  border: 1px solid red;
}

.container-walletmain .main .wallet .balance .balance-text {
  font-size: 32px;
  display: flex;
  justify-content: center;
}

.container-walletmain .main .wallet .table {
  align-content: center;
  display: flex;
  justify-content: center;
}

.container-wallet-market {
  height: 100%;
  width: calc(100% - 2px);
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.container-wallet-market .main {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
}

.container-wallet-market .main .market {
  width: 75%;
}

.container-wallet-market .main .market .table {
  align-content: center;
  display: flex;
  justify-content: center;
}

.container-wallet-receivedeposit {
  height: 100%;
  width: calc(100% - 2px);
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.container-wallet-receivedeposit .main {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
}

.container-wallet-receivedeposit .main .receivedeposit {
  width: 75%;
}

.container-wallet-sendwithdraw {
  height: 100%;
  width: calc(100% - 2px);
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.container-wallet-sendwithdraw .main {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
}

.container-wallet-sendwithdraw .main .sendwithdrawal {
  width: 75%;
}

.container-wallet-buyonline {
  height: 100%;
  width: calc(100% - 2px);
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.container-wallet-buyonline .main {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
}

.container-wallet-buyonline .main .online {
  width: 75%;
}

.container-wallet-buycard {
  height: 100%;
  width: calc(100% - 2px);
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.container-wallet-buycard .main {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
}

.container-wallet-buycard .main .card {
  width: 75%;
}

.container-dashboard {
  height: 100%;
  width: calc(100% - 2px);
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.navbar {
  background: linear-gradient(90deg, #1aa2a2 50%, #515ac3 80%, #8b0ee6 100%);
  border: 1px solid red;
  width: 100%;
  height: 15%;
  display: flex;
  padding: 0 23px;
  border-bottom: 1px solid #ffffff;
}

.navbar .logo-box {
  border: 1px solid red;
  width: 60%;
  display: flex;
  align-items: center;
}

.navbar .logo-box .logo-icon {
  width: 32em;
  cursor: pointer;
}

.verticalnav {
  border: 1px solid red;
  width: 25%;
  height: 100%;
}

.verticalnav .dashboard {
  border: 1px solid red;
  display: flex;
  height: 7%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.verticalnav .dashboard .dashboard-icon {
  width: 2em;
}

.verticalnav .dashboard .dashboard-text {
  font-size: 15px;
  color: #515151;
}

.verticalnav .wallet {
  border: 1px solid red;
  display: flex;
  height: 7%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.verticalnav .wallet .wallet-icon {
  width: 2em;
}

.verticalnav .wallet .wallet-text {
  font-size: 15px;
  color: #515151;
}

.verticalnav .account {
  border: 1px solid red;
  display: flex;
  height: 7%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.verticalnav .account .account-icon {
  width: 2em;
}

.verticalnav .account .account-text {
  font-size: 15px;
  color: #515151;
}

.verticalnav .history {
  border: 1px solid red;
  display: flex;
  height: 7%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.verticalnav .history .history-icon {
  width: 2em;
}

.verticalnav .history .history-text {
  font-size: 15px;
  color: #515151;
}

.verticalnav .logout {
  border: 1px solid red;
  display: flex;
  height: 7%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.verticalnav .logout .logout-icon {
  width: 2em;
}

.verticalnav .logout .logout-text {
  font-size: 15px;
  color: #515151;
}

.verticalnav .logo-box {
  border: 1px solid red;
  height: 58%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  -webkit-padding-after: 40px;
          padding-block-end: 40px;
}

.verticalnav .logo-box .logo-icon {
  width: 10em;
}

